---
import Base from '../layouts/Base.astro';
import Prose from '../components/Prose.astro';
---

<Base title="About" description="About the author and this site.">
  <div class="mx-auto max-w-3xl px-6 pt-16 pb-12">
    <Prose>
      <h1>The BSO & Beethoven Symphonies

      </h1>

      <p>
        This chart shows the number of times each Beethoven symphony has been performed by the Boston Symphony Orchestra, grouped by the starting year of the season. Data from HENRY.
      </p>
      <p>
        TODO: Insert chart here.
      </p>
    </Prose>
  </div>
</Base>